body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#container{
  min-height: 50vh;
  width: 100vw;
  overflow-x:auto !important;
  background-color: rgb(79, 80, 80);
  overflow: auto;
  white-space: nowrap;
}

#card{
  height:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 6%;
  padding-left: 4%;
  color: black;
}

#card-body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

#p{
  /* min-width: auto !important;
  height:auto !important; */
  /* word-wrap: break-word; */
  display: flex;
  flex-wrap: wrap;
  word-break: break-all 
}
#button{
  padding-top: 1%;
  background-color: orange;
  margin-right: 2%;
}

#popup{
 max-height: 70vh;
 max-width: 80vw;
 overflow: auto;
 color: black;
 background-color: cornsilk;

}


#popContainer{
  margin-left: 5px;
  margin-right: 5px;
}

#button-container{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

#collection-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(79, 80, 80);
}

.btn-primary:hover {
  background-color: red !important;
}
.btn-primary{
  background-color: rgb(255, 136, 0) !important;
}
.btn-warning:hover {
  background-color: orangered!important;
  color: white !important;
}

#bookNav{
  background-color: lightseagreen;
}

#nav{
  background-color:lightseagreen;
  border-bottom: 2px solid black;
}

#mainContainer{
  background-color:lightseagreen;
  
  
}

#searchContainer{
  border-bottom: 2px solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#collectionCard{
  background-color: lightseagreen !important;
}

#navB{
  color: black !important;
  background-color: lightseagreen !important;
}

#library-container{
  min-height: 100vh;
  background-color: rgb(79, 80, 80);
}

#send{
background-color: rgb(3, 73, 30) ! important;
}

#danger{
  background-color: red !important;
  
}
